.cb-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-flow: row;
}

.mat-checkbox {
  margin-left: 20px;
}

.cb-vertival {
  flex-flow: column;
}

.chart-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-result {
  text-align: center;
  margin-left: 40px;
}
.mat-checkbox-layout .mat-checkbox-label {
  color: #888 !important;
}
