mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  background-color: #f2f3f8;
}

mat-sidenav {
  background: linear-gradient(
    to top,
    #1c3b6b,
    #263c6f,
    #303e73,
    #3a3f76,
    #434079
  );
}
