<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>POLLS</h4>
        <h5>EXPLORE ALL POLLS</h5>
        <mat-divider></mat-divider>
        <br />
        <div class="card">
          <mat-divider></mat-divider>
          <br />
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>TITLE</th>
                  <th>DESCRIPTION</th>
                  <th>CREATED</th>
                  <th>VOTE COUNT</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let poll of pagePoll?.content">
                  <td>{{ poll.title }}</td>
                  <td>{{ poll.description }}</td>
                  <td>{{ poll.postDate | amTimeAgo }}</td>
                  <td>{{ countVotes(poll) }}</td>
                  <td>
                    <button
                      mat-icon-button
                      type="button"
                      color="primary"
                      style="outline: none;"
                      [routerLink]="['/poll', poll.code]">
                      <mat-icon>how_to_vote</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-12 d-flex flex-row justify-content-center">
              <nav class="col-9" aria-label="...">
                <ul
                  style="margin-left: 180px; margin-top: 10px; color:#663ab7 !Important"
                  class="pagination"
                  *ngIf="pagePoll?.content"
                >
                  <li
                    *ngFor="
                      let page of ' '.repeat(pagePoll.totalPages).split('');
                      let i = index
                    "
                    (click)="onSelect(i)"
                    [class.active]="i === selectedPage"
                    class="page-item"
                  >
                    <a class="page-link" style="cursor: pointer;background-color: #8186c1 !Important">{{ i }}</a>
                  </li>
                </ul>
              </nav>
              </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
